    * {
        border: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Roboto Condensed', sans-serif;
    }
    /* Header CSS */
    
    .navbar-brand {
        width: 130px;
        height: auto;
        object-fit: contain;
    }
    
    header {
        position: sticky;
        top: 0;
        z-index: 10000;
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    
    .company-logo {
        width: 230px;
        height: auto;
        object-fit: contain;
    }
    
    .main-navbar .navbar-nav .nav-link {
        color: #0A2343;
        font-family: 'Universal Condensed', sans-serif;
    }
    
    .main-navbar .nav-item {
        margin: 0 25px;
        padding: 3px;
        padding-top: 15px;
        border-top: 3px solid transparent;
    }
    
    .main-navbar .navbar-nav .nav-item:hover {
        border-top: 3px solid #0A2343;
    }
    
    .dropdown-toggle::after {
        content: "";
    }
    
    #homeNavbarDropdownMenu:hover #home-dropDown {
        display: block;
    }
    
    .small-dropdown {
        z-index: 1000;
        position: fixed;
        display: none;
        width: 300px;
        border: none;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0px 5px 10px #afafaf;
    }
    
    header .long-dropdown {
        z-index: 1000;
        position: fixed;
        right: 150px;
        width: 1080px;
        border: none;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0px 5px 10px #afafaf;
        display: none;
    }
    
    .small-logo-container {
        width: 60px;
        height: auto;
    }
    
    .home-dropdown-container li {
        padding: 4px;
        margin: 14px 0px;
        color: #0A2343;
    }
    
    .navbar-nav .dropdown-menu {
        position: fixed;
    }
    
    .long-sub-1 li,
    .long-sub-2 li {
        padding: 10px;
        overflow-y: scroll;
        color: #0A2343;
    }
    /* .long-sub-1 ul,
    .long-sub-2 ul {
        max-height: 390px;
        overflow-y: scroll;
    } */
    
    .sub-first-col {
        overflow: scroll;
        background-color: #dfdfdf;
    }
    
    .home-dropdown-container li .dropdown-item {
        padding: 10px;
    }
    
    .alphabet-heading {
        font-size: 18px;
        font-weight: 500;
    }
    
    .long-sub-2 li:hover,
    .long-sub-1 li:hover,
    .home-dropdown-container li:hover .dropdown-item {
        background-color: #0F7A9B;
        color: white;
    }
    
    .alphabet-heading:hover {
        background-color: transparent;
        color: #0A2343;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    
    .long-sub-1 ul::-webkit-scrollbar {
        display: none;
        background-color: #dfdfdf;
        width: 1px;
        height: 1px;
    }
    
    .sub-first-col::-webkit-scrollbar {
        display: none;
    }
    
    .long-sub-2 ul::-webkit-scrollbar,
    .long-sub-1 ul::-webkit-scrollbar-button,
    .long-sub-2 ul::-webkit-scrollbar-button {
        background-color: #fff;
        display: none;
    }
    
    .long-sub-1 ul li::-webkit-scrollbar,
    .long-sub-2 ul li::-webkit-scrollbar,
    .long-sub-1 ul li::-webkit-scrollbar-button,
    .long-sub-2 ul li::-webkit-scrollbar-button {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    
    .long-sub-1 ul,
    .long-sub-2 ul {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
    
    .landing-image-wrapper {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 50%;
        background-color: #fff;
    }
    
    .landing-image {}
    
    .btn-type-1 {
        background-color: #fff;
        color: #0A2343;
        font-weight: bold;
        background: linear-gradient(to left, #fff 50%, #0A2343 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        transition: all .5s ease-in-out;
        border: 2px solid #0A2343;
    }
    
    .btn-type-1 a {
        color: #0A2343;
    }
    
    .btn-type-1:hover {
        background-position: left bottom;
        color: white;
        border: 2px solid #0A2343;
    }
    
    .btn-type-1:hover a {
        color: white;
    }
    /* Layout CSS */
    
    .mb-200 {
        margin-bottom: 120px;
    }
    
    .btn-type-2 {
        background-color: #0A2343;
        color: #fff;
        font-weight: bold;
        background: linear-gradient(to left, #0A2343 50%, #fff 50%);
        background-size: 200% 100%;
        background-position: right bottom;
        border: 2px solid #0A2343;
        transition: all .5s ease-in-out;
        padding: 0;
    }
    
    .btn-type-2:hover {
        background-position: left bottom;
        color: #0A2343;
        border: 2px solid #0A2343;
    }
    
    .text-paragraph {
        font-size: 20px;
    }
    
    .main-heading {
        font-size: 50px;
    }
    
    .info-paragraph {
        font-size: 18px;
        color: #afafaf;
    }
    
    .img-fluid {
        width: 100%;
        height: 100%;
        object-position: center;
    }
    /* Country Card */
    
    .country-card {
        width: 100%;
        height: 300px;
        overflow: hidden;
        border-radius: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .25s ease;
        backface-visibility: hidden;
        margin: none;
    }
    
    .country-card:hover {}
    
    .country-card:hover:after {}
    
    .country-card:hover .con-text p {
        margin-bottom: 0px;
        opacity: 1;
    }
    
    .country-card:hover img {
        transform: scale(1.25);
    }
    
    .country-card:after {
        width: 100%;
        height: 100%;
        content: "";
        left: 0px;
        bottom: 0px;
        position: absolute;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.8) 100%);
        z-index: 20;
        transition: all .25s ease;
    }
    
    .country-card img {
        height: 100%;
        z-index: 10;
        transition: all .25s ease;
    }
    
    .country-card .con-text {
        z-index: 30;
        position: absolute;
        bottom: 30px;
        color: #fff;
        padding: 20px;
        padding-bottom: 30px;
    }
    
    .country-card .con-text p {
        font-size: .8rem;
        opacity: 0;
        margin-bottom: -170px;
        transition: all .25s ease;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
    }
    
    .country-card .con-text p button {
        padding: 7px 17px;
        margin-top: 10px;
        margin-left: auto;
        cursor: pointer;
        font-size: .75rem;
        outline: none;
    }
    
    .footer {
        background-color: #0A2343;
    }
    
    .copyright-text {
        font-size: 14px;
    }
    
    .stats-odd,
    .stats-even {
        background-color: #a9e1f6;
        border: 2px solid #a9e1f6;
        border-radius: 10px;
        margin: auto;
        padding: 10px;
    }
    
    .service-even,
    .service-odd {
        border: 2px solid #a9e1f6;
        background-color: #a9e1f6;
        padding: 3px;
        margin: none;
    }
    
    .stats-even,
    .service-even {
        background-color: white;
    }
    
    .year-service-container h1 {
        font-size: 300px;
    }
    
    .partner-image-slider {
        overflow: hidden;
    }
    
    .partner-image {
        background: url("./images/partner.jpg") repeat-x;
        height: 80px;
        width: 7680px;
        animation: slide 50s linear infinite;
    }
    
    @keyframes slide {
        0% {
            transform: translate(0);
        }
        100% {
            transform: translate(-5800px);
            /* The image width */
        }
    }
    
    .service-card-text p {
        font-size: 0.8em;
        font-weight: lighter;
        color: #545454;
        line-height: 22px;
        text-justify: inter-word;
    }
    
    .copyright-container {
        border-top: 2px solid white;
    }
    
    .callback-request-container {
        background-color: #b6e2fc;
        width: 300px;
        height: 250px;
        border-radius: 10px;
        color: black;
        position: sticky;
        top: 20vh;
    }
    
    .callback-request-container p {
        font-size: 12px;
    }
    
    .subject-info-list p {
        font-size: 1em;
        line-height: 40px;
    }
    
    .subject-sub-heading {
        font-size: 1.3em;
        font-weight: bold;
    }
    
    .sub-heading {
        font-size: 1.1em;
        font-weight: bold;
        color: #0F7A9B;
    }
    
    .subject-image-container {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    
    .subject-paragraph {
        font-size: 14px;
        line-height: 30px;
        text-align: justify;
        text-justify: inter-word;
    }
    
    .golden-color {
        color: rgb(253, 152, 0);
        font-weight: bold;
        margin-right: 10px;
    }
    
    .university-course-table {
        width: 100%;
    }
    
    .university-course-table td {
        padding: 15px;
        font-size: 12px;
        width: 50%;
        text-align: center;
    }
    
    .university-course-table th {
        padding: 15px;
        font-size: 12px;
        font-weight: normal;
        text-align: center;
    }
    
    #table-btn {
        background-color: transparent;
    }
    
    .contact-container {}
    
    .front-mobile-input {
        width: 300px;
        outline: #0A2343;
        border: 2px solid #0A2343;
    }
    
    .assistants {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #0A2343;
    }
    
    .assistant-container:nth-last-child() {
        background-color: red;
    }
    
    .testimonials-child {
        background-color: rgb(241, 241, 241);
        border-radius: 20px;
    }
    
    .client-img-container {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 7px solid #fff;
        overflow: hidden;
    }
    
    .client-text p {
        font-size: 12px;
        color: #545454;
        line-height: 25px;
    }
    
    .client-name {
        color: #0F7A9B;
    }
    
    .uList li {
        padding: 10px;
    }
    
    .navbar-toogler {}
    
    .navbar-close-btn {
        position: relative;
        right: 0;
        top: 20px;
        display: none;
    }
    
    .drop-icon {
        display: none;
    }
    
    .img-caption {
        font-size: 14px;
        color: #afafaf;
    }
    
    .text-grey {
        color: #afafaf;
    }
    
    .success-rate-child-top {
        background-color: rgb(178, 118, 118);
        clip-path: polygon(0 0, 100% 0, 100% 50%, 73% 100%, 31% 100%, 0% 50%);
    }
    
    .success-rate-child-bottom {
        background-color: #dfdfdf;
        clip-path: polygon(36% 0, 66% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%);
        height: 150px;
    }
    
    .success-rate-child {
        font-size: 20px;
    }
    
    .icons-holder i {
        font-size: 30px;
    }
    
    .color-container {
        width: 80px;
        background-color: #b6e2fc;
        position: relative;
        z-index: -1;
    }
    
    .major-content-holder {
        position: relative;
        left: -40px;
    }
    
    .home-dropDown:hover .home-dropdown-container,
    .usa-dropDown:hover .usa-dropdown-container,
    .uk-dropDown:hover .uk-dropdown-container,
    .canada-dropDown:hover .canada-dropdown-container,
    .aus-dropDown:hover .aus-dropdown-container {
        display: block;
    }
    /* Mobile screen */
    
    @media only screen and (max-width: 576px) {
        .stats-odd,
        .stats-even {
            margin: 10px 0px;
        }
        .year-service-container h1 {
            font-size: 100px;
        }
        .main-heading {
            font-size: 40px;
        }
        .major-content-holder {
            position: relative;
            left: -20px;
        }
    }
    /* Landscape Mobile screen */
    
    @media only screen and (max-width: 768px) {}
    /* Tablet screen */
    
    @media only screen and (max-width: 992px) {
        .top-navbar {
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            background-color: rgb(243, 243, 243);
            right: 0;
            overflow-y: scroll;
        }
        .landing-image-wrapper {
            width: 300px;
            height: 300px;
        }
        .navbarNavDropdown {
            width: 100vw;
            height: 100vh;
        }
        .navbar-close-btn {
            display: block;
        }
        .small-dropdown {
            position: relative;
            border-radius: 0px;
            width: 80vw;
            box-shadow: none;
        }
        header .long-dropdown {
            position: relative;
            right: 0;
            width: auto;
            border-radius: 0px;
        }
        .main-navbar .navbar-nav .nav-item:hover {
            border-top: 3px solid transparent;
        }
        .drop-icon {
            display: flex;
            margin-left: 10px;
        }
    }
    
    @media only screen and (min-width: 1080px) {
        header .long-dropdown {
            max-height: 400px;
        }
        .long-sub-1 ul,
        .long-sub-2 ul {
            max-height: 390px;
            overflow: scroll;
        }
    }